:root {
    --darkGrey: #202020;
    --mediumGrey: #292929;
    --lightGrey: #555;
    --sizeLarge: 420px;
    --sizeSmall: 200px;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppin', sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--mediumGrey);
    overflow: hidden;
}

/* Nav styling */
nav {
    height: 100px;
    padding: 15px 0;
    background-color: var(--darkGrey);
    margin-bottom: 15px;
}

.search {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    line-height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.search button img {
    width: 16px;
    margin-top: 5px;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
    transition: transform 0.1s ease-out;
}

.search button:hover img {
    transform: scale(1.1);
}

.search button:active img {
    transform: scale(0.9);
}

/* Grid styling */

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, var(--sizeSmall));
    grid-template-rows: repeat(auto-fill, var(--sizeSmall));
    justify-content: center;
    height: calc(100vh - 100px);
    gap: 20px;
}

.grid-items {
    height: var(--sizeSmall);
    width: var(--sizeSmall);
    background-color: var(--darkGrey);
}

.hide {
    display: none;
}

/* Card styling */

.card {
    position: relative;
    background-color: #fff;
    border-radius: 20px;
    border: none;
    z-index: 2;
}

.card:active {
    background-color: #0d85d4;
    opacity: 0.5;
}

.card h2 {
    text-align: center;
    padding: 20px;
}

.small {
    height: var(--sizeSmall);
    width: var(--sizeSmall);
}

.mediumX {
    grid-row: span 2;
    height: var(--sizeLarge);
    width: var(--sizeSmall);
}

.mediumY {
    grid-column: span 2;
    height: var(--sizeSmall);
    width: var(--sizeLarge);
}

.large {
    grid-column: span 2;
    grid-row: span 2;
    height: var(--sizeLarge);
    width: var(--sizeLarge);
}